.profile-container {
  width: 100%;
  min-height: 620px;
  height: auto;
  background-color: #f1f2f2;
  /* background-color: white; */
  border: 1px solid var(--main-border-color);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 82px 0px;
}

#profile-dataWrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  overflow: hidden;
}

.ProfileOn {
  transition: all 0.3s ease-out;
  opacity: 0;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, -30px, 0);
    opacity: 1;
  }
}

.profile-data-container {
  width: 580px;
  height: auto;
}

.profile-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.profile-privacy-img {
  width: 250px;
  height: 250px;
  border-radius: 1000px;
  border: 1px solid var(--main_color);
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
}

.profile-privacy-img img {
  width: 250px;
  height: 250px;
  border-radius: 1000px;
}

.profile-privacy-img:hover {
  background-color: var(--main_color);
  opacity: 0.3;
  transition: 1s;
}

.profile-privact-data {
  margin-top: 20px;
}

.profile-privact-data h5 {
  font-weight: 300;
  margin: 10px 0px;
  font-size: 25px;
}

.profile-data-data {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
}
