.hero-container {
  width: 100%;
  height: 100vh;
  background-image: url(/src/asset/img/Hero.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.hero-text-wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

@keyframes heroFadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

#hero-img {
  width: 100px;
  margin: 0px auto;
  opacity: 0;
  animation-name: heroFadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.hero-main-text {
  font-size: 75px;
  font-weight: 300;
  transition: all 0.3s ease-out;
  opacity: 0;
  animation-name: heroFadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  color: white;
}

.hero-sub-text {
  font-size: 25px;
  transition: all 0.3s ease-out;
  opacity: 0;
  animation-name: heroFadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  color: white;
}
