.growthpath-item-container {
  width: 300px;
  height: 300px;
  border: 1px solid var(--main-border-color);
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
  border-radius: 200px;
  position: relative;
  border-radius: 200px;
}

.growthpath-item {
  width: 100%;
  height: 100%;
  border: 1px solid var(--main_color);
  background-color: var(--main_color);
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 200px;
  z-index: 2;
}
.growthpath-item img {
  width: 100px;
}

.growthpath-item-explain {
  width: 100%;
  height: 100%;
  background-color: var(--main-background-color);
  border: 1px solid white;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
}

.growthpath-item-explain-textWrap {
  width: 205px;
  height: 124px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.growthpath-item-explain-text {
  font-size: 18px;
  font-weight: 300;
  margin: 0px;
}

.growthpath-btn {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: none;
  border: 0px;
  outline: none;
  z-index: 2;
  cursor: pointer;
  padding: 0px;
  border-radius: 200px;
}

.growthpath-number-box {
  width: 72px;
  height: 72px;
  z-index: 3;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  border: 1px solid var(--main-border-color);
  top: -30px;
  border-radius: 50px;
  background-color: var(--main_color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.growthpath-number {
  font-size: 40px;
}

@keyframes growPathfadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, -50px, 0);
    opacity: 1;
  }
}

.isScroll1 {
  transition: all 0.3s ease-out;
  opacity: 0;
  animation-name: growPathfadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.isScroll2 {
  transition: all 0.3s ease-out;
  opacity: 0;
  animation-name: growPathfadeInUp;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.isScroll3 {
  transition: all 0.3s ease-out;
  opacity: 0;
  animation-name: growPathfadeInUp;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.isScroll4 {
  transition: all 0.3s ease-out;
  opacity: 0;
  animation-name: growPathfadeInUp;
  animation-duration: 2.5s;
  animation-fill-mode: both;
}

.isClick {
  z-index: 0;
}
