.growthpath-container {
  height: auto;
}

.growthpath-title {
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

.growthpath-item-wrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 40px;
  width: 80%;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
}
