#contents {
  height: auto;
  padding-bottom: 70px;
  background-color: var(--main_color);
}

.content-title-container {
  align-items: center;
  display: flex;
}
.content-title {
  font-size: 40px;
  margin: 20px;
  color: white;
  margin: 10px auto;
}

.content-button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-classification-button {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: 3px solid var(--main_color);
  cursor: pointer;
  margin: 0px 10px;
  outline: none;
  background: var(--main_color);
}

.content-classification-button:active {
  transition: 0.5s;
  background: none;
}

.content-classification-button-on {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: 3px solid var(--main_color);
  cursor: pointer;
  margin: 0px 10px;
  outline: none;
  transition: 0.5s;
  background: var(--sub_color);
}

.content-classification-button-off {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: 3px solid var(--main_color);
  cursor: pointer;
  margin: 0px 10px;
  outline: none;
  transition: 0.5s;
  background: var(--main_color);
}

.content-classification-button-text {
  font-size: 25px;
}

.content-container {
  width: 85%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  margin: 0px auto;
}
