#contents {
  height: auto;
  padding-bottom: 70px;
  background-color: var(--main_color);
}

.content-title-container {
  align-items: center;
  display: flex;
}
.content-title {
  font-size: 40px;
  margin: 20px;
  color: white;
  margin: 10px auto;
}

.content-container {
  width: 85%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  margin: 0px auto;
}
