.footer-container {
  width: 100%;
  height: 150px;
  background-color: var(--main_color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer-link-buttonWrap {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  margin-bottom: 15px;
}

.footer-linkBtn {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background: none;
  padding: 0px;
  cursor: pointer;
}

.footer-linkImg {
  width: 100%;
}

.footer-title {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  display: flex;
  color: white;
  font-weight: 300;
}
