#navigation {
  position: relative;
}
.navigation-container {
  width: 100%;
  height: 100px;
  background: none;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
  transition: 0.5s;
}

.navOn {
  transition: 1s;
  background-color: var(--main_color);
}

.nav-logo-img {
  margin: 30px;
}
.nav-logo-img img {
  width: 70px;
  height: 70px;
}
.nav-item-container {
  width: auto;
  height: auto;
  margin-left: auto;
  display: flex;
}
.nav-item {
  width: 150px;
  height: 50px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin: 0px 10px;
  background: none;
  border-radius: 50px;
}
.nav-after-menu {
  display: none;
  width: 50px;
  height: 50px;
  margin: 0px 30px;
  cursor: pointer;
}
.nav-item:hover {
  background-color: var(--sub_color);
  transition: 0.3s;
}

.nav-list-ItemWrap {
  display: flex;
  z-index: 999;
  flex-direction: column;
}

.nav-list-ItemWrap-Item {
  display: none;
}

@media (max-width: 1030px) {
  .navigation-container .nav-item {
    display: none;
  }
  .nav-after-menu {
    display: block;
  }
  .nav-list-ItemWrap {
    position: fixed;
    top: 100px;
    width: 100%;
  }
  .nav-list-ItemWrap-Item {
    display: block;
    width: 170px;
    height: 50px;
    background-color: white;
    border: 1px solid var(--main_color);
    box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
      0 1px 3px -1px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 100px;
    transition: 1s;
    margin-left: auto;
    border-radius: 5px;
    cursor: pointer;
  }
  .nav-list-ItemWrap-Item:hover {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--sub_color);
  }
}
