.title-container {
  width: 100%;
  height: 500px;
  background-color: var(--main_color);
  justify-content: center;
  display: flex;
  align-items: center;
}
.title-text-wrap {
  text-align: center;
}

.title-main-text {
  font-size: 40px;
}

.title-sub-text {
  font-size: 20px;
}
