@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap");

:root {
  --main_color: #b5b4e5;
  --sub_color: #a9dcd6;
  --main-border-color: #dbdbdb;
}

#root,
body,
html {
  margin: 0;
  padding: 0;
}

.font-style {
  font-family: "Black Han Sans", sans-serif;
  font-family: "Do Hyeon", sans-serif;
}

body {
  margin-left: 0px;
  margin-right: 0px;
  box-sizing: border-box;
}
